*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url("");
    background-size: cover;
    background-color: rgb(0, 0, 0);
    
}
nav{
    display: flex;
    align-items: center;
    padding-left:10% ;
    padding-right: 10%;
    right: 40px;
    left: 70px;
    float: right;
    margin-top: -40px;
}
nav ul{
    display: flex;
    float: right;
}
nav ul li{
    display: inline;
padding: 20px;
}
.name{
    color:white;
    font-size: 30px;
}
span{
    color:rgb(85, 247, 52);
    font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(113, 253, 85);
    transition: 0.5s;
}
.btn{
    background-color: yellow;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    color:navy;

}
.btn:hover{
    transform: scale(1.1S) ;
}
.bt_talk{
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    border: 2px solid green;
    color: black;

}
.bt_talk:hover{
    background-color: white;
    border: 2px solid green;
    cursor: pointer;
    color:rgb(248, 234, 43);
    background-color: rgb(255, 0, 76);

}

.content  {
    top: 75;
    left: 20;
    position: absolute;
    transform: translate(50%,50%);
}
 h3 {
    color: rgb(75, 249, 255);
    font-size: 25px;
    margin-bottom: 10px;
 }
 h2{
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
 }
 h4{
    color: blanchedalmond;
    font-size: 20px;
    margin-bottom: 10px;
 }
 .pl form{
    position: relative;
    width: 400px;
    padding-left: -5px;
 }
 .pl form input:first-child{
border-radius: 40px;
border: solid 3px red;
display: inline;
width: 100%;
padding: 15px 120px 13px 14px;
 }
 .pl form input:last-child{
    display: inline;
    padding: 10px 20px;
    border: none;
    background-color: rgb(255, 251, 0);
    color: black;
    top: 7px;
    right: 7px;
    border-radius: 40px;
position: absolute;
box-shadow: 0px 0px 20px yellow;
 }
 .about_me{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
 }
  img{
    width: 600px;
    height:600px;
    margin-bottom: 2px;
}
.about_content{
    color: white;
    margin-left: 40px;
}
.ma{
    display: flex;
}
.about_content h3{
    color: white;
    font-size: 60px;
}
.about_content h5{
    color: white;
    font-size: 35px;
}
.about_content p{
    color: white;
    font-size: 15px;
    word-spacing: 5px;
}
li{
    color: greenyellow;
    text-decoration: none;
}
.p1{
    color: #25c5ff;
    text-decoration: none;
}
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
color:white;
font-size: 75px;
width: 1130px;
margin: 30px auto;
text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
color: #fcfc;
font-size: 14px;
line-height:27px;
margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
    
}
    .photos{
        align-items: center;
        justify-content: center;
        background:black;
        display:inline-block;
        }



